{% extends 'base.html.twig' %}

{% block title %}Edit Atelier{% endblock %}

{% block body %}
    <h1>Edit Atelier</h1>

    {# {{ include('atelier/_form.html.twig', {'button_label': 'Update'}) }} #}

    {# atelier/form.html.twig #}

{{ form_start(form) }}

<div class="form-group">
    {{ form_label(form.place) }}
    {{ form_widget(form.place, { 'attr': {'class': 'form-control'} }) }}
</div>

<div class="form-group">
    {{ form_label(form.date) }}
    {{ form_widget(form.date, { 'attr': {'class': 'form-control'} }) }}
</div>

<div class="form-group">
    {{ form_label(form.horaire) }}
    {{ form_widget(form.horaire, { 'attr': {'class': 'form-control'} }) }}
</div>

<div class="form-group">
    {{ form_label(form.address) }}
    {{ form_widget(form.address, { 'attr': {'class': 'form-control'} }) }}
</div>

<div class="form-group">
    {{ form_label(form.commentaire) }}
    {{ form_widget(form.commentaire, { 'attr': {'class': 'form-control'} }) }}
</div>

<div class="form-group">
    {{ form_label(form.vin) }}
    {{ form_widget(form.vin, { 'attr': {'class': 'form-control'} }) }}
</div>

<div class="form-group">
    {{ form_label(form.users) }}
    {{ form_widget(form.users, { 'attr': {'class': 'form-control', 'multiple': 'multiple'} }) }}
</div>
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>

{{ form_end(form) }}

    {{ include('atelier/_delete_form.html.twig') }}
        <a href="{{ path('app_atelier_index') }}">back to list</a>
{% endblock %}
