{% extends 'base.html.twig' %}

{% block title %}Atelier{% endblock %}

{% block body %}
    <h1>Atelier</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ atelier.id }}</td>
            </tr>
            <tr>
                <th>Place</th>
                <td>{{ atelier.place }}</td>
            </tr>
            <tr>
                <th>Horaire</th>
                <td>{{ atelier. horaire}}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ atelier. address}}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ atelier.date ? atelier.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Invités</th>
                {% for user in atelier.users %}
                <td>{{ user.name}}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ atelier.commentaire }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_atelier_index') }}">back to list</a>

    <a href="{{ path('app_atelier_edit', {'id': atelier.id}) }}">edit</a>

    {{ include('atelier/_delete_form.html.twig') }}
{% endblock %}

