{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Ateliers {% endblock %}

{% block body %}
    {% if animations is empty %}
        <h2 class="carre connexion">Pas d'ateliers disponibles pour le moment</h2>
    {% else %}
    <h1 class="titre">Les ateliers</h1>
    <div class="grid-container">
        {% for animation in animations %}
            <div class="grid-item1">
                <div class="atelier">
                    <img src="{{ vich_uploader_asset(animation) }}" alt="{{ animation.nom }}" class="img">
                    <h2 class="soustitre-index">{{ animation.nom }}</h2>
                    <p class="resume">{{ animation.description}}</p>
                    <form action="{{ path('app_animation_show', {'slug': animation.slug}) }}" method="get">
                        <button class="cta" type="submit">Découvrir</button>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
   {% endif %}

{% endblock %}
