{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Atelier {% endblock title %}

{% block body %}
<h2 class="nomanimation">{{ animation.nom }}</h2>
<div class="showatelier">
    <div class="phototxtcta">
      <div class="image-container">
        <img src="{{ vich_uploader_asset(animation) }}" alt="{{ animation.nom }}" class="img">
      </div>
      <div class="description-container">
        <p class="desc">{{ animation.resume }}</p>
        <p class="prix">Prix : {{ animation.prix }} €</p><br>
        <p class="prix">Durée : 2h</p>
        <div class="showcta">
                  <div class="nombrepersonne">
                    <form action="{{path ('add', {'id': animation.id})}}" method="post">
                        <label for="date"> </label>
                        
                        <select  class="select-lm" id="date" name="date" required>
                          <option disabled selected value="">Sélectionner un atelier</option>
                          {% for atelier in animation.ateliers %}
                          <option value="{{ atelier.id }}">{{ atelier.date|date('d/m/Y') }} - {{ atelier.address }} - {{ atelier.horaire }}</option>
                      {% endfor %}
                      </select><br>
                    </div>
                    <div class="nombrepersonne">
                        <label for="adults"></label>
                            <select id="nbPersonnes" name="nbPersonnes"  class="select-lm" required>
                                <option disabled selected value="">Nombre de personnes</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                   </div>
                        <button class="cta-show" type="submit">Je réserve mon atelier</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
