{% extends 'base.html.twig' %}

{% block title %}{{ parent()}} - Mon compte{% endblock %}

{% block stylesheets %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css">
{{ parent()}}
{% endblock %}

{% block body %}
<div class="content">
    <h1 class="title">Mon compte</h1>

    <div class="sk-atelier">
        {% if atelier.getUsers() is defined and user in atelier.getUsers() and date('now'| date('d-m-Y')) == atelier.date %}
            <a class="sk-cta-atelier" href="{{ path('fiche',{'userSlug':user.slug,'vinSlug':vin.slug})}}">Accéder à l'atelier de dégustation</a>
        {% endif %}
    </div>

    <div class="sk-divider-profil"></div>

    <h2 class="titlesection">Mes informations : </h2>

    <table class="sk-custom-table mb-5 mx-auto w-50">
        <tbody>
        <tr>
            <th>Nom</th>
            <td>{{ user.name }}</td>
        </tr>
         <tr>
            <th>Prénom</th>
            <td>{{ user.firstname }}</td>
        </tr>
         <tr>
            <th>Email</th>
            <td>{{ user.email }}</td>
        </tr>
         <tr>
            <th>Téléphone</th>
            <td>{{ user.phone }}</td>
        </tr>
        <tr>
            <th>Date de naissance</th>
            <td>{{ user.birthdate|date('d-m-Y') }}</td>
        </tr>
        <tr>
            <th>Adresse</th>
            <td>{{ user.street }}</td>
        </tr>
        <tr>
            <th>Code postal</th>
            <td>{{ user.postalcode }}</td>
        </tr>
        <tr>
            <th>Ville</th>
            <td>{{ user.city }}</td>
        </tr>
        </tbody>
    </table>

    <div class="sk-divider-profil"></div>
    <h2 class="titlesection">Mes favoris : </h2>

    {% if user.getWatchlist().isEmpty() %}
    <div class="carre-profil mb-5">
        <p class="text-center fw-bold">Votre watchlist est vide.</p>
    </div>
    {% else %}
    <table class="sk-custom-table mb-5">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Région</th>
                <th>Année</th>
                <th>Prix</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
        {% for vin in user.getWatchlist() %}
        <tr>
            <td>{{ vin.nom }}</td>
            <td>{{ vin.description }}</td>
            <td>{{ vin.region }}</td>
            <td>{{ vin.millesime }}</td>
            <td class="text-nowrap">{{ vin.prix }} €</td>
            <td class="text-center sk-trash"><a href="{{ path('app_profil_delete_watchlist', {slug: vin.slug })}}" title="Supprimer" 
            data-toggle="tooltip"><i class="bi bi-trash"></i></a>
            <span class="text-center sk-trash"><a href="{{ path('shop_add', {id: vin.id, quantity : 1 } )}}" title="Ajouter au panier" 
            data-toggle="tooltip">&ensp;<i class="bi bi-cart"></i></a></span></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}

    <div class="sk-divider-profil"></div>
    <h2 class="titlesection">Mon profil gustatif : </h2>
    {% if user.profil is empty() %}
        <div class="carre-profil mb-5">
            <p class="text-center fw-bold">Votre profil n'est pas disponible</p>
        </div>
    {% else %}
        <table class="sk-custom-table mb-5 mx-auto">
           <tbody>
            <tr>
                <th>Nom</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>{{ user.getProfil().name }}</td>
                <td>{{ user.getProfil().description }}</td>
            </tr>
        </tbody>
        </table>
    {% endif %}

    <div class="sk-divider-profil"></div>
    <h2 class="titlesection">Mes recettes : </h2>
    {% if user.recettes is empty() %}
        <div class="carre-profil mb-5">
            <p class="text-center fw-bold">Pas de recettes disponibles</p>
        </div>
    {% else %}
        {% for recette in user.getRecettes() %}
         <table class="sk-custom-table mb-5 mx-auto">
           <tbody>
            <tr>
                <th>Nom de la recette</th>
                <th>Cépage 1</th>
                <th>Quantité</th>
                <th>Cépage 2</th>
                <th>Quantité</th>
                <th>Cépage 3</th>
                <th>Quantité</th>
                <th>Cépage 4</th>
                <th>Quantité</th>
            </tr>
            <tr>
                <td>{{ recette.nom }}</td>
                <td>{{ recette.cepage1 }}</td>
                <td>{{ recette.quantite1 }} {{ (recette.quantite1  > 0) ? 'ml':'' }}</td>
                <td>{{ recette.cepage2 }}</td>
                <td>{{ recette.quantite2 }} {{ (recette.quantite2  > 0) ? 'ml':'' }}</td>
                <td>{{ recette.cepage3 }}</td>
                <td>{{ recette.quantite3 }} {{ (recette.quantite3  > 0) ? 'ml':'' }}</td>
                <td>{{ recette.cepage4 }}</td>
                <td>{{ recette.quantite4 }} {{ (recette.quantite4  > 0) ? 'ml':'' }}</td>
            </tr>
        </tbody>
        </table>
        {% endfor %}
    {% endif %}

    <div class="sk-divider-profil"></div>
    <h2 class="titlesection">Mes ateliers : </h2>
    {% if user.atelier is empty() %}
    <div class="carre-profil mb-5">
        <p class="text-center fw-bold">Vous n'avez pas particpé à un atelier</p>
    </div>
    {% else %}
        <table class="sk-custom-table mb-5 mx-auto">
           <tbody>
            <tr>
                <th>Date</th>
                <th>Horaire</th>
                <th>Adresse</th>
                <th>Nom de l'atelier</th>
            </tr>
            {% for atelier in user.atelier %}
            <tr>
                <td>{{ atelier.date|date('d-m-Y') }}</td>
                <td>{{ atelier.horaire }}</td>
                <td>{{ atelier.address }}</td>
                <td>{{ atelier.commentaire }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    {% endif %}


    <div class="sk-divider-profil"></div>
    <h2 class="titlesection">Mes fiches de dégustation : </h2>
    {% if user.ficheDegustations is empty() %}
        <div class="carre-profil mb-5">
            <p class="text-center fw-bold">Pas de fiches de dégustation disponibles</p>
        </div>
    {% else %}
         <table class="sk-custom-table mb-5 mx-auto">
        <thead>
            <tr>
                <th>Date</th>
                <th>Nom du vin</th>
                <th>Couleur</th>
                <th>Note</th>
                <th>Émotion</th>
            </tr>
        </thead>
        <tbody>
        {% for ficheDegustation in user.getFicheDegustations() %}
            <tr>
                <td>{{ ficheDegustation.date|date('d-m-Y') }}</td>
                <td>{{ ficheDegustation.vin }}</td>
                <td>{{ ficheDegustation.couleur }}</td>
                <td>{{ ficheDegustation.note }}</td>
                <td><img src="{{ asset('build/images/' ~ ficheDegustation.emotion ~ '.png') }}" alt="{{ ficheDegustation.emotion }}" style="width: 30px;"/>&emsp;{{ ficheDegustation.emotion }}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>

    {% endif %}
</div>

{% block javascripts %} {{ parent()}}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
{% endblock %}

{% endblock %}


