{% extends 'base.html.twig' %}

{% block title %}Faq index{% endblock %}

{% block body %}
<div class="blogDivBody">
    <h1>Foire aux questions</h1>
        {% for faq in faqs %}
                <p><b>Question:</b> {{ faq.question }}</p>
                <p><b>Réponse:</b> {{ faq.answer }}</p>
                <div class="divShowEdit">
                    {{ include('faq/_delete_form.html.twig') }}
                    <a href="{{ path('app_faq_edit', {'id': faq.id}) }}">Modfier</a>
                </div>

        {% else %}
                <p colspan="4">no records found</p>
        {% endfor %}
            <a href="{{ path('app_faq_new') }}">Créer une nouvelle question</a>
            <a href="{{ path('app_faq_visiteur') }}">Voir la Foire aux questions</a>
</div>


{% endblock %}
