{% extends "base.html.twig" %}

{% block title %} {{ parent() }} - Votre panier !{% endblock %}


{% block body %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet" >
<link rel="stylesheet" href="/build/app.css">

{% if items is empty %}
<div class="carre">
    <h1 class="connexion text-uppercase">Votre panier Inovin est vide</h1>
    <p class="connexion">Votre panier est à votre service. Donnez-lui un but : remplissez-le de courses, et plus encore.
        Continuez les achats sur <strong>Inovin</strong>, apprenez en plus en consultant notre blog, ou visitez votre Liste d'envies.</p>
</div>
{% else %}
<!--Message-->
{% for category, messages in app.flashes %}
    {% for message in messages %}
        <div class=" w-50 container-sm text-white alert alert-{{ category }}">
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert"></button>
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
<h2 class="container-sm sk-title py-2 mb-4">Votre panier</h2>
{% for item in items %}
{% if item.service is not null %}
<div class="sk-card-cart card mb-3 mx-3">
  <div class="row g-0">
    <div class="col-md-2 d-flex justify-content-center align-self-center">
      <img class="img-fluid rounded-start w-50" src="{{ vich_uploader_asset(item.service) }}" alt="{{ item.service.nom }}">
    </div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-8 mt-4 mb-4 sk-vertical-separator">
          <div class="card-body">
            <h5 class="card-title">{{ item.service.nom }}</h5>
            <p class="card-text text-break">{{ item.service.description }}</p>
          </div>
        </div>
        <div class="col-md-4 mt-4">
          <div class="card-body">
            <table class="container-sm">
              <thead>
                <tr>
                  <th class="text-end text-uppercase">Prix</th>
                  <th class="text-end text-uppercase">Quantité</th>
                  <th class="text-end text-uppercase">Total</th>
                  <th class="text-end text-uppercase">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-end">{{ item.service.prix }} €</td>
                  <td class="text-end">{{ item.quantity}}</td>
                  <td class="text-end">{{ item.service.prix * item.quantity}} €</td>
                  <td class="text-end"><a href="{{ path('panier_remove', {'id': item.service.id}) }}" class="btn" title="Supprimer"><i class="bi bi-trash"></i></a></td>
                </tr>
              </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endfor %}
<div class="sk-divider"></div>
{% for item in items %}
{% if item.product is not null %}
<div class="sk-card-cart card mb-3 mt-4 mx-3">
  <div class="row g-0">
    <div class="col-md-2 d-flex justify-content-center align-self-center">
      <img class="img-fluid rounded-start w-50" src="{{ vich_uploader_asset(item.product) }}" alt="{{ item.product.nom }}">
    </div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-8 mt-4 mb-4 sk-vertical-separator">
          <div class="card-body">
            <h5 class="card-title">{{ item.product.nom }}</h5>
            <p class="card-text text-break">{{ item.product.description }}</p>
          </div>
        </div>
        <div class="col-md-4 mt-4">
          <div class="card-body">
            <table class="container-sm">
              <thead>
                <tr>
                  <th class="text-end text-uppercase">Prix</th>
                  <th class="text-end text-uppercase">Quantité</th>
                  <th class="text-end text-uppercase">Total</th>
                  <th class="text-end text-uppercase">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-end">{{ item.product.prix }} €</td>
                  <td class="text-end">{{ item.quantity}}</td>
                  <td class="text-end">{{ item.product.prix * item.quantity}} €</td>
                  <td class="text-end"><a href="{{ path('panier_remove', {'id': item.product.id}) }}" class="btn" title="Supprimer"><i class="bi bi-trash"></i></a></td>
                </tr>
              </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endfor %}

<p class="sk-total text-end fw-bold mx-3">Sous-total ({{ items | length }} article{{ (items | length > 1) ? 's':'' }}) : <span>{{ total }} €</span></p>
         
<div class="d-flex justify-content-center">
  <button class="sk-checkout">Passer commande</button>
</div>
{% endif %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
{% endblock %}