{% extends 'base.html.twig' %}
{% block title %}Cepage index{% endblock %}

{% block body %}
    <h1>Cepage index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cepage in cepages %}
            <tr>
                <td>{{ cepage.id }}</td>
                <td>{{ cepage.type }}</td>
                <td>{{ cepage.description }}</td>
                <td>
                    <a href="{{ path('app_cepage_show', {'id': cepage.id}) }}">show</a>
                    <a href="{{ path('app_cepage_edit', {'id': cepage.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_cepage_new') }}">Create new</a>
{% endblock %}
