{% block content %}
<footer class="foot">
<h5 class= "vgFooterH5" >Inovin</h5>
    <div class="vgFooterDivColumns">
            <div class="vgFooterColumn">

                <p class="contact"><img src="{{ asset('build/images/adresse.png') }}" style="width: 8%;">&ensp;48140 Julianges</p>
                <p class="contact"><img src="{{ asset('build/images/tel.png') }}" style="width: 5%;">&emsp;07 50 70 48 12</p>
                <p class="contact"><img src="{{ asset('build/images/mail.png') }}" style="width: 8%;">&ensp;direction.inovin@gmail.com</p>
                <a class="facebook" href="https://www.facebook.com/profile.php?id=100091922199451">
                    <img src="{{ asset('build/images/facebook.png') }}" style="width: 7%;"> &ensp;Suivez-nous sur Facebook !
                </a>
            </div>
            <div class="vgFooterColumn">
                <li><a href="{{ path('app_home') }}" class="liennav">ACCUEIL</a></li>
                <li><a href="{{ path('app_animations_index') }}" class="liennav">ATELIERS</a></li>
                <li><a href="{{ path('shop_index')}}" class="liennav">BOUTIQUE</a></li>
                <li><a class="contactModal liennav">CONTACT</a></li>
                <li><a href="{{ path('panier_index')}}" class="liennav">PANIER</a></li>
            </div>
    </div>
    <div class="vgFooterCautions">
        <p class="abus">L'ABUS D'ALCOOL EST DANGEREUX POUR LA SANTÉ. À CONSOMMER AVEC MODÉRATION. LA VENTE D'ALCOOL EST INTERDITE AUX MINEURS.</p>
        <p class="copy">TOUS DROITS RESERVES © 2023 INOVIN | Réalisé par WILD_SXB | <a class="colornotice" href="{{ path('app_conditions_vente') }}" target="_blank">Conditions générales de vente</a> |  <a class="colornotice" href="{{ path ('app_mentions_legales') }}" target="_blank">Mentions légales</a></p>
    </div>
</footer>
{% endblock %}
