{% block content %}
{% include "_popUpMessage.html.twig" %}
<nav>
    <div class="divlogonav">
        <img class="img-logo" src="{{ asset('build/images/Logo.png') }}">
    </div>
    <div class="burgerBars" onclick="myFunction(this)">
        <div class="burgerzz">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
        <ul class ="ulnavburger liennavtoggle" id="navMenu">
            <li class="linav marginLinks" id="nav2"><a href="{{ path('app_home') }}" class="liennav">ACCUEIL</a></li>
            <li class="linav marginLinks" id="nav3"><a href="{{ path('app_animations_index') }}" class="liennav">ATELIERS</a></li>
            <li class="linav marginLinks" id="nav4"><a href="#" class="liennav">VINOTHÈQUE</a>
                <ul class="listederoulante">
                    <li><a href="{{ path('app_lexique') }}" class="liennav">Lexique</a></li>
                    <li><a href="{{ path('app_quizz') }}" class="liennav">Le quizz</a></li>
                    <li><a href="{{ path('app_memory') }}" class="liennav">Memory</a></li>
                    <li><a href="{{ path('app_blog_visiteur') }}" class="liennav">Blog</a></li>
                    <li><a href="{{ path('app_faq_visiteur') }}" class="liennav faq">FAQ</a></li>
                </ul>
            </li>
            <li id="nav5"><a href="{{ path ('shop_index')}}" class="liennav marginLinks">BOUTIQUE</a></li>
            <li id="nav6"><a class="contactModal liennav marginLinks">CONTACT</a></li>
            {% if app.user == false %}
            <li class="linav marginLinks" id="nav6">
                <a href="/login" class="liennav">CONNEXION</a>
            </li>
            {% endif %}
            <li class="linav marginpanier" id="nav8"><a href="{{ path ('panier_index')}}"><img src="{{ asset('build/images/panier.png') }}" style="width: 30px; height: 30px;"></a></li>

{% if app.user %}
            <li class="linav marginUser" id="nav1">
                <div class="navbar">
                    <div class="dropdown">
                            <button class="dropbtn">
                            {{ app.user.firstname }}
                            </button>
                        <div class="dropdown-content">
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="/admin">Tableau de bord</a>
                            {% else %}
                                <a href="/user/profil">Profil</a>
                            {% endif %}
                            <a href="/logout">Déconnexion</a>
                        </div>
                    {% endif %}
                    </div>
                </div>
            </li>
        </ul>
    </div>
<script>
function myFunction(x) {
  x.classList.toggle("change");
  document.getElementById("navMenu").classList.toggle("liennavtoggle")
}
</script>
</nav>
{% endblock %}
