{% extends 'base_degustation.html.twig' %}

{% block header %}
    <div class="titre-fiche">FICHE DE DÉGUSTATION</div>
    <div class="h1-crud">{{ vin.nom }}</div>
{% endblock %}

{% block title %} {{ parent() }} - Fiche de dégustation {% endblock title %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block body %}
<div class="page">
{{ form_start(form, {'class':'formFiche'}) }}
<div class="ss-titre">L'OEIL</div>
<div class="cardcontainer">
  <div class="cardcontainer2">
    <div class="form-column">
      <div class="form-row">
        <div class="form-group">
          <p class="form-label">{{ form_label(form.couleur, null, {'label_attr': {'class': 'couleur-checkbox'}}) }}</p>
          <div class="checkbox-container couleurs-container couleurs-rouges">
            {% set couleursRouges = ['framboise', 'cerise', 'rubis', 'pourpre', 'violet', 'grenat', 'tuilé'] %}
            {% for choice in form.couleur %}
              {% if choice.vars.value in couleursRouges %}
                <label class="checkbox-label-couleur">
                  {{ form_widget(choice) }}
                  <span class="checkbox-custom-indicator"></span>
                  {{ choice.vars.label }}
                </label>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="form-column">
      <div class="form-row">
        <div class="form-group">
          <div class="checkbox-container couleurs-container couleurs-jaunes">
            {% set couleursJaunes = ['or vert', 'or pâle', 'jaune paille', 'doré', 'vieil or', 'ambré', 'roux'] %}
            {% for choice in form.couleur %}
              {% if choice.vars.value in couleursJaunes %}
                <label class="checkbox-label-couleur">
                  {{ form_widget(choice) }}
                  <span class="checkbox-custom-indicator"></span>
                  {{ choice.vars.label }}
                </label>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-column">
    <div class="form-row">
      <div class="form-group">
        <p class="form-label middle">{{ form_label(form.limpidite)}}</p>
        <div class="vertical-range">
                {{ form_widget(form.limpidite, {'attr': {'class': 'custom-range'}}) }}
          <div class="labels">
            <span class="label">Floue</span>
            <span class="label">Trouble</span>
            <span class="label">Voilé</span>
            <span class="label">Limpide</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-column">
    <div class="form-row">
      <div class="form-group">
        <div class="checkbox-container">
          <p class="form-label">
            {{ form_label(form.fluidite, null, {'label_attr': {'class': 'fludity-checkbox'}}) }}
          </p>
          <div class="checkbox-custom">
            {% for choice in form.fluidite %}
              <label class="checkbox-label">
                {{ form_widget(choice, {'attr': {'class': 'checkbox-input'}, 'name': form.fluidite.vars.full_name ~ '[]', 'value': choice.vars.value, 'checked': choice.vars.checked}) }}
                {{ choice.vars.label }}
              </label>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="horizontal-range">
    <div class="range-row">
        <div class="flex-start">
            {{ form_label(form.brillance) }}
        </div>
        <output>{{ form.brillance.vars.value }}</output>
    </div>
    <div class="form-row">
        {{ form_widget(form.brillance) }}
    </div>
</div>

<div class="form-title">
<div class="ss-titre">LE NEZ</div>
    <p class="arome-label">Arômes</p>
</div>
<div class="aroma-container">
        {% for category, choices in form.arome.vars.choices %}
        <div class="aroma-choices">
                <h3 class="cta arome">{{ category }}</h3>
                    <div class="aroma" style="display: none;">
                        {% for value, label in choices %}
                        <div class='aromainput'>
                            {{ form_widget(form.arome[value]) }}
                            {{ form_label(form.arome[value]) }}
                        </div>
                        {% endfor %}
                    </div>
        </div>
        {% endfor %}
</div>
<div class="emotions-container emotions-row">
    <ul id="selected-aromas" class="selected-aromas"></ul>
</div>
<div class="horizontal-range">
    <div class="range-row">
        <div class="flex-start">
            {{ form_label(form.intensite) }}
        </div>
        <output>{{ form.intensite.vars.value }}</output>
    </div>
    <div class="form-row">
        {{ form_widget(form.intensite) }}
    </div>
</div>
<div class="form-title">
<div class="ss-titre">LA BOUCHE</div>
</div>
<div class="horizontal-range">
    <div class="range-row">
        <div class="flex-start">
            {{ form_label(form.douceur) }}
        </div>
        <output>{{ form.douceur.vars.value }}</output>
    </div>
    <div class="form-row">
        {{ form_widget(form.douceur) }}
    </div>
</div>
<div class="horizontal-range">
    <div class="range-row">
        <div class="flex-start">
            {{ form_label(form.ressentiAlcool) }}
        </div>
        <output>{{ form.ressentiAlcool.vars.value }}</output>
    </div>
    <div class="form-row">
        {{ form_widget(form.ressentiAlcool) }}
    </div>
</div>
<div class="horizontal-range">
    <div class="range-row">
        <div class="flex-start">
            {{ form_label(form.acidite) }}
        </div>
        <output>{{ form.acidite.vars.value }}</output>
    </div>
    <div class="form-row">
        {{ form_widget(form.acidite) }}
    </div>
</div>
<div class="cardcontainer">
  <div class="form-column">
    <div class="form-row">
      <div class="form-group">
        <div class="checkbox-container">
          <p class="form-label">
            {{ form_label(form.structure, null, {'label_attr': {'class': 'fludity-checkbox'}}) }}
          </p>
          {% for choice in form.structure %}
            <label class="checkbox-label">
              {{ form_widget(choice, {'attr': {'class': 'checkbox-custom ' ~ choice.vars.value}}) }}
              <span class="checkbox-custom-indicator"></span>
              {{ choice.vars.label }}
            </label>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
    <div class="form-column">
    <div class="form-row">
      <div class="form-group">
        <p class="form-label middle">{{ form_label(form.persistance)}}</p>
        <div class="vertical-range">
                {{ form_widget(form.persistance, {'attr': {'class': 'custom-range'}}) }}
          <div class="labels">
            <span class="label">Durable</span>
            <span class="label">Longue</span>
            <span class="label">Moyenne</span>
            <span class="label">Courte</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-column">
    <div class="form-row">
      <div class="form-group">
        <div class="checkbox-container">
          <p class="form-label">
            {{ form_label(form.matiere, null, {'label_attr': {'class': 'fludity-checkbox'}}) }}
          </p>
          {% for choice in form.matiere %}
            <label class="checkbox-label">
              {{ form_widget(choice, {'attr': {'class': 'checkbox-custom ' ~ choice.vars.value}}) }}
              <span class="checkbox-custom-indicator"></span>
              {{ choice.vars.label }}
            </label>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="form-title">
  <div class="ss-titre">LES ÉMOTIONS</div>
</div>
<div class="emotions-container emotions-row">
  {% for choice in form.emotion %}
  <div class="emotion-item">
    <label class="emotion-label emotion-title-label">
      <img src="{{ asset('build/images/' ~ choice.vars.value ~ '.png') }}" alt="{{ choice.vars.label }}" class="img-emotion" />
      <br>
      {{ form_widget(choice, {'attr': {'class': 'emotion-cta', 'data-value': choice.vars.value}}) }}
      <span class="emotion-custom-indicator"></span>
      <span class="emotion-label-text">{{ choice.vars.label }}</span>
    </label>
  </div>
  {% endfor %}
</div>
  <div class="form-title evaluation">
    <div class="ss-titre">ÉVALUATION</div>
    {{ form_widget(form.note) }}
  </div>
{{ form_widget(form.submit, {'label': 'Valider', 'attr': {'class': 'buttonFiche'}}) }}
{{ form_end(form) }}
</div>
<script>

// Script apparition arômes
    document.addEventListener('DOMContentLoaded', function() {
        var ctaElements = document.querySelectorAll('.arome');
        for (var i = 0; i < ctaElements.length; i++) {
            ctaElements[i].addEventListener('click', toggleAroma);
        }

        function toggleAroma() {
            var aroma = this.nextElementSibling;
            if (aroma.style.display === 'none') {
                aroma.style.display = 'grid';
            } else {
                aroma.style.display = 'none';
            }
        }
    });

    // script émotion
const emotionImages = document.querySelectorAll('.img-emotion');

emotionImages.forEach((image) => {
  image.addEventListener('click', () => {
    emotionImages.forEach((img) => {
      img.classList.remove('activefiche');
    });
    image.classList.add('activefiche');
  });
});
</script>
  {% endblock %}
