{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Lexique {% endblock title %}

{% block body %}

 <!-- Scroll Top Button -->
 <div class="scroll-top">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7l4-4m0 0l4 4m-4-4v18" />
    </svg>
  </div>

<div class="global">
    <h1 class="lexique-vin">Lexique du vin</h1>

    <ul class="alpha">
        {% for letter in 'A'..'Z' %}
            <li class="li-alpha">
                <a href="#{{ letter }}">{{ letter }}</a>
            </li>
        {% endfor %}
    </ul>

    {% for letter, terms in lexique %}
        <h2 class ="lexique"id="{{ letter }}">{{ letter }}</h2>
        <ul class="definition">
            {% for term, definition in terms %}
                <li class="termes"> {{ term }}</li>
                    <br>{{ definition }}
            {% endfor %}
        </ul>
    {% endfor %}
</div>

<script>
      // scroll TOP Button Events
      const scrollButton = document.querySelector(".scroll-top");
      if(scrollButton){
          window.addEventListener('scroll', ()=> {
            if(pageYOffset > (window.innerHeight * 1.2)){
              scrollButton.style.display="flex";
            }else{
              scrollButton.style.display="none";
            }
          });
          scrollButton.addEventListener("click", () => {
            window.scrollTo({
              top: 0,
              behavior: "smooth"  
            });
          });
        }
</script>
{% endblock %}
